// Imports

@import "../../bower_components/skeleton/css/normalize";
@import "../../bower_components/skeleton/css/normalize";

/*-------------------------------------------------------*/
// Styles :)

.right {text-align: right;}

.container { width:100%; max-width: 100%; }
#editor { height:75vh; width:100%; }

li.jotted-nav-item.jotted-nav-item-result, .jotted-pane.jotted-pane-result { float:right; }
