/*-------------------------------------------------------*/
// Imports

@import "../../bower_components/skeleton/css/normalize";
@import "../../bower_components/skeleton/css/skeleton";

/*-------------------------------------------------------*/
// Variables

$spacing:10px;
$primary-color: #1E88E5;
$dark-blue: #0D47A1;
$accent: #2196F3;
$header-font-color: #f5f5f6;

/*-------------------------------------------------------*/
// Foundation

.container { width:100%; max-width: 100%; }
.top-bar { background: $primary-color; }
.container { padding:0; }
.six { width: 50%; }
.header-hamburger { float:left; fill:$header-font-color; }
.burger {
  width: 30px;
  display: inline;
  margin-top: 10px;
  margin-left: 10px;
}
.border-top { border-top:10px solid $dark-blue; }
.nine { width: 74%; }

/*-------------------------------------------------------*/
// Aside

aside {
  position: absolute;
  top:0;
  z-index: 10;
  opacity: 1;

  width: 256px;
  height:100%;
  overflow-y: auto;

  background-color: white;
  color: rgba(0,0,0,0.87);

  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  transition: opacity .3s cubic-bezier(0.4,0.0,0.2,1), z-index .3s cubic-bezier(0.4,0.0,0.2,1);
}
.inside-aside {
  height:50px;
  line-height: 50px;
}
.aside-block {
  padding:0 20px;
}
.aside-heading {
  margin: 10px 0 0;
}
.recent-bins ul {
  list-style-type: none;
  margin:10px 0;
}
.hidden-aside { 
  opacity: 0; z-index:-1;
  transition: opacity .3s cubic-bezier(0.4,0.0,0.2,1), z-index .3s cubic-bezier(0.4,0.0,0.2,1);
}
.aside-hamburger {
  float: right;
}

/* Aside - Icons */
.aside--icon {
  display: inline-block;
  float:left;
  width:20px;
  margin-right:10px;
}
.person {margin-top:14px;}
.cube {margin-top:2px;}

/* Aside - Blocks */
.login-block, .register-block {
  height: auto;
}
aside input { width: 100%; }
.nav--link { cursor: pointer; }
aside ul {
  display: flex;
  flex-direction: column-reverse;
}
aside li {
  flex: 0 0 auto;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  margin-bottom:0;
}
aside a {
  text-decoration: none;
  color:$primary-color;
}

/* Aside - Misc */
.bins-p {
  margin-top:12px;
}
.recent-bins .bins-ul {
  margin-bottom:3px;
}

/*-------------------------------------------------------*/
// Nitty Gritty :)

h1 { font-size:1.2em; margin: $spacing; float:left; line-height: 30px; }
h1 a { color:$header-font-color; text-decoration: none; }
.status { 
  float:right;
  color:$header-font-color;
  padding:$spacing;
  opacity: 0;
  transition:opacity 0.8s ease;
}

h1 a:hover { color: $header-font-color; }

.show-status { opacity: 1; }

button, .button { 
  margin: $spacing;
  background: $primary-color;
  color:#f5f5f6;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0), 0 3px 3px -2px rgba(0,0,0,0), 0 1px 8px 0 rgba(0,0,0,0);
  transition: background 0.5s ease, box-shadow 0.8s ease;
}
button:hover, .button:hover,
button:active, .button:active,
button:focus, .button:focus { background: $accent; color: #fefefe; border-color: #82B1FF; }

footer { font-size:.8em; margin: $spacing; }
.spacing { margin: $spacing; }
.help { text-decoration: none; color:#222;}

/*-------------------------------------------------------*/
// Editor :)

#editor { height:70vh; width:100%; }
li.jotted-nav-item.jotted-nav-item-result, .jotted-pane.jotted-pane-result { float:right; }

/*-------------------------------------------------------*/
// Helpers :)

.align-right {text-align: right;}
button:hover, .button:hover, .box-shadow {
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.2);
}
.hidden { display: none; }
.border-bottom {
  border-bottom: 1px solid #bbb;
}
.dark-gray {
  background: $header-font-color;
}
.gray-border-top { border-top:10px solid #C0C0C0; }

.three.columns.validation-status {
  text-align: right;
  float:right;
  border: 1px solid rgba(51,51,51,0.24);
  width:100px;
}
.validation-status span {
  display: inline-block;
  padding:5px;
  color:#fff;
  margin-left: 4px;
}

.error {
  line-height:16px;
  color:#D50000;
  display: inline-block;
}

footer { font-size:11px; }
